@font-face{
    font-family: "Avenir-Regular";
    src: url("../assets/_globalfont/AvenirNextProLT/Regular.ttf");
}

@font-face{
    font-family: "Avenir-Bold";
    src: url("../assets/_globalfont/AvenirNextProLT/Bold.ttf");
}

@font-face{
    font-family: "Avenir-Light";
    src: url("../assets/_globalfont/AvenirNextProLT/Light.ttf");
}

@font-face{
    font-family: "Avenir-Heavy";
    src: url("../assets/_globalfont/AvenirNextProLT/Heavy.ttf");
}
