@font-face{
    font-family: Avenir;
    src: url(../assets/_globalfont/AvenirNextProLT/Avenir-Regular.otf);
    font-weight: normal;
}

@font-face{
    font-family: Avenir;
    src: url(../assets/_globalfont/AvenirNextProLT/Avenir-Bold.otf);
    font-weight: bold;
}

@font-face{
    font-family: Avenir;
    src: url(../assets/_globalfont/AvenirNextProLT/Avenir-Light.otf);
    font-weight: lighter;
}

@font-face{
    font-family: Avenir;
    src: url(../assets/_globalfont/AvenirNextProLT/Avenir-Heavy.otf);
    font-weight: bolder;
}
