@use 'fonts';

@mixin tablet {
    @media only screen and (min-width: 768px) {
      @content;
    }
  }

@mixin desktop {
    @media only screen and (min-width: 1200px) {
      @content;
    }
  }

*{
    font-family: Avenir, sans-serif;
}

html{
    margin: 0;
    padding: 0;
    height: 100%;
}

body{
    margin: 0;
    padding: 0;
    height: 100%;
    color: #323232;
}

.header{
    background-color: #323232;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width:100%;
    height: 80px;
    padding: 0;
    margin: 0;

    @include tablet{
        flex-direction: row;
        align-items: flex-end;
    }

    &__logo{
        width: 10rem;
        padding-top: 1rem;

        @include tablet{
            display:inline-block;
            padding-top: 0rem;
            align-self: center;
            margin-left: 24px;
        }

        @include desktop{
            margin-left:150px;
        }
    }

    &__nav{
        display: flex;
        width:100%;
        justify-content: space-around;
        padding: 0;
        margin: 0;

        @include tablet{
            display:inline-block;
        }

        &--link{
            color: white;
            width: 50%;
            text-decoration: none;
            text-align: center;
            padding-bottom: .5rem;
            margin: 0;

            @include tablet{
                width: 85px;
                height: 43px;
                padding-bottom: 0;
                display:inline-block;
                margin-left: 45px;
            }

            @include desktop{
                margin-left: 56px;
            }

            &--active{
                border-bottom: white solid 3px;

                @include desktop{
                    border-bottom: white solid 5px;
                }
            }
        }
    }
}

.hero{
    width: 100%;
    height: 183px;
    margin: 0;
    position: relative;
    background: url("../assets/images/hero.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    @include tablet{
        height: 400px;
    }

    @include desktop{
        height: 558px;
    }

    &__overlay{
        width:100%;
        height: 100%;
        position: absolute;
        top: 0;
        z-index:1;
        background-color: rgb(0,0,0);
        opacity: 0.5;
    }

    &__members{
        margin:0;
        position: absolute;
        top: 30%;
        z-index: 1;
        left:16px;
        color: white;
        transform: scale(1,.95);
        font-weight: bold;

        @include tablet{
            width: 70%;
            font-size: 3.5rem;
            left: 24px;
        }

        @include desktop{
            top: 30%;
            left: 150px;
        }
    }
}

.about{
    display: flex;
    flex-direction: column;
    align-items: center;

    &__square{
        width:92%;
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;

        @include tablet{
            width: 94%;
        }

        @include desktop{
            width: 747px;
        }

        &--title{
            margin-top:1rem;
            transform: scale(1,.95);
            font-weight: bold !important; 
            // I have no clue why font-weight doesn't work here. 
            //Googling says it's a bug with using downloaded fonts

            @include tablet{
                font-size: 2rem;
                margin-top: 20px;
                margin-bottom: 20px;
            }

            @include desktop{
                margin-left: -70px;
                margin-top: 35px;
                margin-bottom: 35px;
            }
        }

        &--image{
            width: 100%;
            height: 10rem;
            object-fit: cover;

            @include tablet{
                height: 362px;
            }

            @include desktop{
                height: 375px;
            }
        }

        &--quote{
            font-size: .9rem;
            width: 95%;
            font-weight: bold;

            &--blurb{
                @include tablet{
                    font-size: 1.3rem;
                }

                @include desktop{
                    margin-top: 40px;
                    margin-bottom: 32px;
                }
            }

        }

        &--bio {

            &--title{
                font-size: 1rem;

                @include tablet{
                    font-size: 1.5rem;
                    margin-bottom: 10px;
                }

                @include desktop{
                    font-size: 1.25rem;
                }

            }

            &--textcontainer{
        
                @include tablet{
                    display: flex;
                }

                @include desktop{
                    justify-content: space-between;
                }
            
                &--text{
                    font-size: .8rem;
                    line-height: 1.5;
                    font-weight: lighter;
                    //font-weight works fine here though for some reason

                    @include tablet{
                        width: 340px;
                        font-size: .9rem;
                    }

                    @include desktop{
                        width: 400px;
                        font-size: .8rem;
                    }

                    &--2{
                        @include tablet{
                            margin-left: 28px;
                        }
                        
                    }
                }
            }
        }
    }
}

.gallery{
    background-color: #FAFAFA;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 30px;

    &__title{
        align-self: flex-start;
        margin-left: 1rem;
        font-weight: bold;
        transform: scale(1,.95);
        //same font-weight issue here
        //it still doesn't work when I change the font-family

        @include tablet{
            font-size: 2.3rem;
            margin-left: 1.5rem;
        }
    }

    &__imageContainer{
        width: 90%;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        align-self: center;

        @include tablet{
            width: 100%;
        }

        &--image{
            width:288px;
            padding-bottom: 8px;

            @include tablet{
                width: 224px;
                padding-bottom: 24px;
            }
        }
    }
}

.footer{
    background-color:#323232;
    display: flex;
    justify-content: center;
    color:white;
    padding-left: 15px;

    @include tablet{
        padding-left: 24px;
        padding-right: 24px;
    }

    &__square{
        width: 90%;
        padding-right: 25%;
        padding-bottom: 30px;
        padding-top: 13px;

        @include tablet{
            padding-right: 0;
            width:100%;
        }
    
        &--top {

            @include tablet{
                display: flex;
                justify-content: space-between;
            }

            &--logo{
                display: none;

                @include tablet{
                    display: initial;
                }
            }
            
            &--title{
            font-size: 2.3rem;
            }

            &--iconcontainer{
                width: 140px;
                display: flex;
                justify-content: space-between;
                margin-left: 10px;

                @include tablet{
                    margin-left: 0;
                    margin-right: 20%;

                }
            }
        }

        &--contacts{ 
            
            @include tablet{
                display:flex;
                justify-content: space-evenly;
            }
        
            &--card{

                &--name{
                    font-weight: bold;
                }

                &--address, &--email {
                    font-size: .8rem;
                    font-weight: lighter;
                }
            }
        }

        &--copyright{
            width: 90%;
            font-size: .8rem;
            font-weight: lighter;

            @include tablet{
                margin-left: 3%;
            }
        }
    }  
}

