@use 'fonts';
* {
  font-family: Avenir, sans-serif;
}

html {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  color: #323232;
}

.header {
  background-color: #323232;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 80px;
  padding: 0;
  margin: 0;
}

@media only screen and (min-width: 768px) {
  .header {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}

.header__logo {
  width: 10rem;
  text-align: center;
  padding-top: 1rem;
}

@media only screen and (min-width: 768px) {
  .header__logo {
    display: inline-block;
    padding-top: 0rem;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin-left: 24px;
  }
}

@media only screen and (min-width: 1200px) {
  .header__logo {
    margin-left: 150px;
  }
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0;
  margin: 0;
}

@media only screen and (min-width: 768px) {
  .header__nav {
    display: inline-block;
  }
}

.header__nav--link {
  color: white;
  width: 50%;
  text-decoration: none;
  text-align: center;
  padding-bottom: .5rem;
  margin: 0;
}

@media only screen and (min-width: 768px) {
  .header__nav--link {
    width: 85px;
    height: 43px;
    padding-bottom: 0;
    display: inline-block;
    margin-left: 45px;
  }
}

@media only screen and (min-width: 1200px) {
  .header__nav--link {
    margin-left: 56px;
  }
}

.header__nav--link--active {
  border-bottom: white solid 3px;
}

@media only screen and (min-width: 1200px) {
  .header__nav--link--active {
    border-bottom: white solid 5px;
  }
}

.hero {
  width: 100%;
  height: 183px;
  margin: 0;
  position: relative;
  background: url("../assets/images/hero.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media only screen and (min-width: 768px) {
  .hero {
    height: 400px;
  }
}

@media only screen and (min-width: 1200px) {
  .hero {
    height: 558px;
  }
}

.hero__overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 1;
  background-color: black;
  opacity: 0.5;
}

.hero__members {
  margin: 0;
  position: absolute;
  top: 30%;
  z-index: 1;
  left: 16px;
  color: white;
  -webkit-transform: scale(1, 0.95);
          transform: scale(1, 0.95);
  font-weight: bold;
}

@media only screen and (min-width: 768px) {
  .hero__members {
    width: 70%;
    font-size: 3.5rem;
    left: 24px;
  }
}

@media only screen and (min-width: 1200px) {
  .hero__members {
    top: 30%;
    left: 150px;
  }
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about__square {
  width: 92%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 20px;
}

@media only screen and (min-width: 768px) {
  .about__square {
    width: 94%;
  }
}

@media only screen and (min-width: 1200px) {
  .about__square {
    width: 747px;
  }
}

.about__square--title {
  margin-top: 1rem;
  -webkit-transform: scale(1, 0.95);
          transform: scale(1, 0.95);
  font-weight: bold !important;
}

@media only screen and (min-width: 768px) {
  .about__square--title {
    font-size: 2rem;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

@media only screen and (min-width: 1200px) {
  .about__square--title {
    margin-left: -76px;
    margin-top: 35px;
    margin-bottom: 35px;
  }
}

.about__square--image {
  width: 100%;
  height: 10rem;
  -o-object-fit: cover;
     object-fit: cover;
}

@media only screen and (min-width: 768px) {
  .about__square--image {
    height: 362px;
  }
}

@media only screen and (min-width: 1200px) {
  .about__square--image {
    height: 375px;
  }
}

.about__square--quote {
  font-size: .9rem;
  width: 95%;
  -webkit-transform: scale(1, 0.95);
          transform: scale(1, 0.95);
  font-weight: bold;
}

@media only screen and (min-width: 768px) {
  .about__square--quote--blurb {
    font-size: 1.3rem;
  }
}

@media only screen and (min-width: 1200px) {
  .about__square--quote--blurb {
    margin-top: 40px;
    margin-bottom: 32px;
  }
}

.about__square--bio--title {
  font-size: 1rem;
  -webkit-transform: scale(1, 0.95);
          transform: scale(1, 0.95);
}

@media only screen and (min-width: 768px) {
  .about__square--bio--title {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
}

@media only screen and (min-width: 1200px) {
  .about__square--bio--title {
    font-size: 1.25rem;
  }
}

@media only screen and (min-width: 768px) {
  .about__square--bio--textcontainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media only screen and (min-width: 1200px) {
  .about__square--bio--textcontainer {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.about__square--bio--textcontainer--text {
  font-size: .8rem;
  line-height: 1.5;
  font-weight: lighter;
}

@media only screen and (min-width: 768px) {
  .about__square--bio--textcontainer--text {
    width: 340px;
    font-size: .9rem;
  }
}

@media only screen and (min-width: 1200px) {
  .about__square--bio--textcontainer--text {
    width: 400px;
    font-size: .8rem;
  }
}

@media only screen and (min-width: 768px) {
  .about__square--bio--textcontainer--text--2 {
    margin-left: 28px;
  }
}

.gallery {
  background-color: #FAFAFA;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 30px;
}

.gallery__title {
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-left: 1rem;
  font-weight: bold;
  -webkit-transform: scale(1, 0.95);
          transform: scale(1, 0.95);
}

@media only screen and (min-width: 768px) {
  .gallery__title {
    font-size: 2.3rem;
    margin-left: 1.5rem;
  }
}

@media only screen and (min-width: 1200px) {
  .gallery__title {
    margin-left: 9.2rem;
  }
}

.gallery__imageContainer {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-item-align: center;
      align-self: center;
}

@media only screen and (min-width: 768px) {
  .gallery__imageContainer {
    width: 100%;
  }
}

@media only screen and (min-width: 1200px) {
  .gallery__imageContainer {
    width: 75%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.gallery__imageContainer--image {
  width: 288px;
  padding-bottom: 16px;
}

@media only screen and (min-width: 768px) {
  .gallery__imageContainer--image {
    width: 224px;
    padding-bottom: 24px;
  }
}

@media only screen and (min-width: 1200px) {
  .gallery__imageContainer--image {
    width: 286px;
  }
}

.footer {
  background-color: #323232;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  padding-left: 15px;
}

@media only screen and (min-width: 768px) {
  .footer {
    padding-left: 24px;
    padding-right: 24px;
  }
}

.footer__square {
  width: 90%;
  padding-right: 25%;
  padding-bottom: 30px;
  padding-top: 13px;
}

@media only screen and (min-width: 768px) {
  .footer__square {
    padding-right: 0;
    width: 100%;
  }
}

@media only screen and (min-width: 1200px) {
  .footer__square {
    width: 78.5%;
  }
}

@media only screen and (min-width: 768px) {
  .footer__square--top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.footer__square--top--logo {
  display: none;
}

@media only screen and (min-width: 768px) {
  .footer__square--top--logo {
    display: initial;
  }
}

@media only screen and (min-width: 1200px) {
  .footer__square--top--logo {
    width: 120px;
  }
}

.footer__square--top--title {
  font-size: 2.3rem;
}

@media only screen and (min-width: 1200px) {
  .footer__square--top--title {
    font-size: 2rem;
  }
}

.footer__square--top--iconcontainer {
  width: 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 10px;
}

@media only screen and (min-width: 768px) {
  .footer__square--top--iconcontainer {
    margin-left: 0;
    margin-right: 20%;
  }
}

@media only screen and (min-width: 1200px) {
  .footer__square--top--iconcontainer {
    width: 110px;
    margin-right: 45%;
  }
}

@media only screen and (min-width: 768px) {
  .footer__square--contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

@media only screen and (min-width: 1200px) {
  .footer__square--contacts {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-right: 32%;
  }
}

.footer__square--contacts--card--name {
  font-weight: bold;
}

@media only screen and (min-width: 1200px) {
  .footer__square--contacts--card--name {
    font-size: .8rem;
  }
}

.footer__square--contacts--card--address, .footer__square--contacts--card--email {
  font-size: .8rem;
  font-weight: lighter;
}

.footer__square--copyright {
  width: 90%;
  font-size: .8rem;
  font-weight: lighter;
}

@media only screen and (min-width: 768px) {
  .footer__square--copyright {
    margin-left: 3%;
  }
}

@media only screen and (min-width: 768px) and (min-width: 1200px) {
  .footer__square--copyright {
    margin-left: 0;
  }
}
/*# sourceMappingURL=main.css.map */