@use 'fonts';
* {
  font-family: Avenir-Regular, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  color: #323232;
}

.header {
  background-color: #323232;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 80px;
  padding: 0;
  margin: 0;
}

@media only screen and (min-width: 768px) {
  .header {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}

.header__logo {
  width: 10rem;
  text-align: center;
  padding-top: 1rem;
}

@media only screen and (min-width: 768px) {
  .header__logo {
    display: inline-block;
    padding-top: 0rem;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin-left: 24px;
  }
}

@media only screen and (min-width: 1200px) {
  .header__logo {
    margin-left: 150px;
  }
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0;
  margin: 0;
}

@media only screen and (min-width: 768px) {
  .header__nav {
    display: inline-block;
  }
}

.header__nav--link {
  color: white;
  width: 50%;
  text-decoration: none;
  text-align: center;
  padding-bottom: .7rem;
  margin: 0;
  font-family: Avenir-Light;
}

@media only screen and (min-width: 768px) {
  .header__nav--link {
    width: 85px;
    height: 43px;
    padding-bottom: 0;
    display: inline-block;
    margin-left: 45px;
  }
}

@media only screen and (min-width: 1200px) {
  .header__nav--link {
    margin-left: 56px;
  }
}

.header__nav--link--active {
  border-bottom: white solid 4px;
}

@media only screen and (min-width: 1200px) {
  .header__nav--link--active {
    border-bottom: white solid 5px;
  }
}

@-webkit-keyframes flash {
  0% {
    color: #FAFAFA;
  }
  20% {
    color: #03b2e7;
  }
  40% {
    color: rgba(181, 155, 192, 0.788);
  }
  60% {
    color: #f2ff43;
  }
  80% {
    color: #fa800e;
  }
  100% {
    color: #FAFAFA;
  }
}

@keyframes flash {
  0% {
    color: #FAFAFA;
  }
  20% {
    color: #03b2e7;
  }
  40% {
    color: rgba(181, 155, 192, 0.788);
  }
  60% {
    color: #f2ff43;
  }
  80% {
    color: #fa800e;
  }
  100% {
    color: #FAFAFA;
  }
}

@-webkit-keyframes flash_border {
  0% {
    border-color: #FAFAFA;
  }
  20% {
    border-color: #03b2e7;
  }
  40% {
    border-color: rgba(181, 155, 192, 0.788);
  }
  60% {
    border-color: #f2ff43;
  }
  80% {
    border-color: #fa800e;
  }
  100% {
    border-color: #FAFAFA;
  }
}

@keyframes flash_border {
  0% {
    border-color: #FAFAFA;
  }
  20% {
    border-color: #03b2e7;
  }
  40% {
    border-color: rgba(181, 155, 192, 0.788);
  }
  60% {
    border-color: #f2ff43;
  }
  80% {
    border-color: #fa800e;
  }
  100% {
    border-color: #FAFAFA;
  }
}

.header__nav--link:hover {
  -webkit-animation: flash 4s linear infinite, flash_border 4s linear infinite;
          animation: flash 4s linear infinite, flash_border 4s linear infinite;
}

.hero {
  width: 100%;
  height: 183px;
  margin: 0;
  position: relative;
  background: url("../assets/images/hero.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media only screen and (min-width: 768px) {
  .hero {
    height: 400px;
  }
}

@media only screen and (min-width: 1200px) {
  .hero {
    height: 558px;
  }
}

.hero__overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 1;
  background-color: black;
  opacity: 0.5;
}

.hero__members {
  margin: 0;
  position: absolute;
  top: 30%;
  z-index: 1;
  left: 16px;
  color: white;
  -webkit-transform: scale(1, 0.95);
          transform: scale(1, 0.95);
  font-weight: bold;
}

@media only screen and (min-width: 768px) {
  .hero__members {
    width: 70%;
    font-size: 3.5rem;
    left: 24px;
  }
}

@media only screen and (min-width: 1200px) {
  .hero__members {
    top: 30%;
    left: 150px;
  }
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about__square {
  width: 92%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 20px;
}

@media only screen and (min-width: 768px) {
  .about__square {
    width: 94%;
  }
}

@media only screen and (min-width: 1200px) {
  .about__square {
    width: 747px;
  }
}

.about__square--title {
  margin-top: 1rem;
  -webkit-transform: scale(1, 0.95);
          transform: scale(1, 0.95);
  font-family: "Avenir-Heavy";
}

@media only screen and (min-width: 768px) {
  .about__square--title {
    font-size: 2rem;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

@media only screen and (min-width: 1200px) {
  .about__square--title {
    margin-left: -76px;
    margin-top: 35px;
    margin-bottom: 35px;
  }
}

.about__square--image {
  width: 100%;
  height: 10rem;
  -o-object-fit: cover;
     object-fit: cover;
}

@media only screen and (min-width: 768px) {
  .about__square--image {
    height: 362px;
  }
}

@media only screen and (min-width: 1200px) {
  .about__square--image {
    height: 375px;
  }
}

.about__square--quote {
  font-size: .9rem;
  width: 95%;
  -webkit-transform: scale(1, 0.95);
          transform: scale(1, 0.95);
  font-weight: bold;
}

@media only screen and (min-width: 768px) {
  .about__square--quote--blurb {
    font-size: 1.3rem;
  }
}

@media only screen and (min-width: 1200px) {
  .about__square--quote--blurb {
    margin-top: 40px;
    margin-bottom: 32px;
  }
}

.about__square--bio--title {
  font-size: 1rem;
  -webkit-transform: scale(1, 0.95);
          transform: scale(1, 0.95);
}

@media only screen and (min-width: 768px) {
  .about__square--bio--title {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
}

@media only screen and (min-width: 1200px) {
  .about__square--bio--title {
    font-size: 1.25rem;
  }
}

@media only screen and (min-width: 768px) {
  .about__square--bio--textcontainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media only screen and (min-width: 1200px) {
  .about__square--bio--textcontainer {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.about__square--bio--textcontainer--text {
  font-size: .8rem;
  line-height: 1.5;
  font-weight: lighter;
}

@media only screen and (min-width: 768px) {
  .about__square--bio--textcontainer--text {
    width: 340px;
    font-size: .9rem;
  }
}

@media only screen and (min-width: 1200px) {
  .about__square--bio--textcontainer--text {
    width: 400px;
    font-size: .8rem;
  }
}

@media only screen and (min-width: 768px) {
  .about__square--bio--textcontainer--text--2 {
    margin-left: 28px;
  }
}

.gallery {
  background-color: #FAFAFA;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 30px;
}

.gallery__title {
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-left: 1rem;
  font-weight: bold;
  -webkit-transform: scale(1, 0.95);
          transform: scale(1, 0.95);
}

@media only screen and (min-width: 768px) {
  .gallery__title {
    font-size: 2.3rem;
    margin-left: 1.5rem;
  }
}

@media only screen and (min-width: 1200px) {
  .gallery__title {
    margin-left: 9.2rem;
  }
}

.gallery__imageContainer {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-item-align: center;
      align-self: center;
}

@media only screen and (min-width: 768px) {
  .gallery__imageContainer {
    width: 100%;
  }
}

@media only screen and (min-width: 1200px) {
  .gallery__imageContainer {
    width: 75%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.gallery__imageContainer--image {
  width: 288px;
  padding-bottom: 16px;
}

.gallery__imageContainer--image:hover {
  -webkit-filter: none;
          filter: none;
}

@media only screen and (min-width: 768px) {
  .gallery__imageContainer--image {
    width: 224px;
    padding-bottom: 24px;
  }
}

@media only screen and (min-width: 1200px) {
  .gallery__imageContainer--image {
    width: 286px;
    -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
  }
}

.comments {
  width: 100%;
  padding: 0 16px 0 16px;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

@media only screen and (min-width: 768px) {
  .comments {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.comments__inputs {
  width: 224px;
}

@media only screen and (min-width: 768px) {
  .comments__inputs {
    width: 420px;
  }
}

.comments__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  position: relative;
}

.comments__title {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

@media only screen and (min-width: 768px) {
  .comments__title {
    font-size: 2.2rem;
  }
}

.comments__picture {
  height: 45px;
  width: 45px;
  border-radius: 100%;
  position: absolute;
  left: -65px;
  top: 36px;
}

.comments__username {
  border: 1px solid grey;
  border-radius: 4px;
  height: 40px;
  margin-bottom: 7px;
}

.comments__username:active, .comments__username:focus {
  border: 2px solid black;
}

.comments__username--title {
  color: #AFAFAF;
  font-weight: normal;
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 7px;
}

.comments__text {
  border: 1px solid grey;
  border-radius: 4px;
  height: 100px;
}

.comments__text:active, .comments__text:focus {
  border: 2px solid black;
}

.comments__text--title {
  color: #AFAFAF;
  font-weight: normal;
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 7px;
}

.comments__button {
  font-size: 14px;
  font-weight: normal;
  text-transform: uppercase;
  color: white;
  background-color: #323232;
  width: 100%;
  height: 50px;
  margin-top: 32px;
  margin-bottom: 32px;
  border: 1px solid #323232;
  border-radius: 6px;
}

@media only screen and (min-width: 768px) {
  .comments__button {
    width: 180px;
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
}

.comments__outputs {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .comments__outputs {
    width: 420px;
  }
}

.comments__card {
  width: 100%;
  border-top: 1.5px solid #E1E1E1;
  position: relative;
  padding: 25px 0 24px 63px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.comments__outpicture {
  height: 40px;
  width: 40px;
  border-radius: 100%;
  position: absolute;
  top: 24px;
  left: -1px;
}

.comments__namedate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media only screen and (min-width: 768px) {
  .comments__namedate {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.comments__outusername {
  margin: 0;
}

.comments__outdate {
  font-weight: lighter;
  color: #AFAFAF;
  margin: 0;
}

@media only screen and (min-width: 768px) {
  .comments__outdate {
    margin-left: 5px;
  }
}

.comments__outtext {
  font-weight: lighter;
  margin-bottom: 0;
}

.footer {
  background-color: #323232;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  padding-left: 15px;
}

@media only screen and (min-width: 768px) {
  .footer {
    padding-left: 24px;
    padding-right: 24px;
  }
}

.footer__square {
  width: 90%;
  padding-right: 25%;
  padding-bottom: 30px;
  padding-top: 13px;
}

@media only screen and (min-width: 768px) {
  .footer__square {
    padding-right: 0;
    width: 100%;
  }
}

@media only screen and (min-width: 1200px) {
  .footer__square {
    width: 78.5%;
  }
}

@media screen and (max-width: 767px) {
  .footer__square--top {
    margin-bottom: 35px;
  }
}

@media only screen and (min-width: 768px) {
  .footer__square--top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.footer__square--top--logo {
  display: none;
}

@media only screen and (min-width: 768px) {
  .footer__square--top--logo {
    display: initial;
  }
}

@media only screen and (min-width: 1200px) {
  .footer__square--top--logo {
    width: 120px;
  }
}

.footer__square--top--title {
  font-size: 2.3rem;
}

@media only screen and (min-width: 1200px) {
  .footer__square--top--title {
    font-size: 2rem;
  }
}

.footer__square--top--iconcontainer {
  width: 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 10px;
}

@media only screen and (min-width: 768px) {
  .footer__square--top--iconcontainer {
    margin-left: 0;
    margin-right: 20%;
  }
}

@media only screen and (min-width: 1200px) {
  .footer__square--top--iconcontainer {
    width: 110px;
    margin-right: 45%;
  }
}

@media only screen and (min-width: 768px) {
  .footer__square--contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

@media only screen and (min-width: 1200px) {
  .footer__square--contacts {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-right: 32%;
  }
}

.footer__square--contacts--card--name {
  font-weight: bold;
}

@media only screen and (min-width: 1200px) {
  .footer__square--contacts--card--name {
    font-size: .8rem;
  }
}

.footer__square--contacts--card--address, .footer__square--contacts--card--email {
  font-size: .8rem;
  font-weight: lighter;
}

.footer__square--copyright {
  width: 90%;
  font-size: .8rem;
  font-weight: lighter;
}

@media only screen and (min-width: 768px) {
  .footer__square--copyright {
    margin-left: 3%;
  }
}

@media only screen and (min-width: 768px) and (min-width: 1200px) {
  .footer__square--copyright {
    margin-left: 0;
  }
}

.deepdive {
  color: white;
  text-decoration: none;
}
/*# sourceMappingURL=main.css.map */