@use 'fonts';

*{
    font-family: Avenir, sans-serif;
}

html{
    margin: 0;
    padding: 0;
    height: 100%;
}

body{
    margin: 0;
    padding: 0;
    height: 100%;
}

.header{
    background-color: #323232;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width:100%;
    height: 80px;
    padding: 0;
    margin: 0;


    &__logo{
        width: 10rem;
        padding-top: 1rem;
    }

    &__nav{
        display: flex;
        width:100%;
        justify-content: space-around;
        padding: 0;
        margin: 0;

        &--link{
            color: white;
            width: 50%;
            text-decoration: none;
            text-align: center;
            padding-bottom: .5rem;
            margin: 0;

            &--active{
                border-bottom: white solid 3px;
            }
        }
    }
}

.hero{
    width: 100%;
    height: 30%;
    margin: 0;
    position: relative;

    &__overlay{
        width:100%;
        height: 100%;
        position: absolute;
        top: 0;
        z-index:1;
        background-color: rgb(0,0,0);
        opacity: 0.5;
    }

    &__image{
        width: 100%;
        z-index: -1;
    }

    &__members{
        margin:0;
        position: absolute;
        top: 30%;
        z-index: 1;
        left:1rem;
        width: 200px;
        color: white;
        transform: scale(1,.95);
        font-weight: bold;
    }
}

.about{
    display: flex;
    flex-direction: column;
    align-items: center;

    &__square{
        width:90%;
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;

        &--title{
            margin-top:1rem;
            font-family: Arial, Helvetica, sans-serif;


            // font-weight: bolder !important; 

        }

        &--image{
            width: 100%;
            height: 10rem;
            object-fit: cover;
        }

        &--quote{
            font-size: .9rem;
            width: 95%;
        }

        &--bio {

            &--title{
                font-size: 1rem;
            }

            &--textcontainer--text{
                font-size: .8rem;
                font-weight: lighter;
                line-height: 1.5;

            }
        }
    }
}

.gallery{
    background-color: #FAFAFA;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    &__title{
        align-self: flex-start;
        margin-left: 1rem;
    }

    &__imageContainer{
        width: 90%;

        &--image{
            width:100%;
            padding-bottom: 8px;
        }
    }
}

.footer{
    background-color:#323232;
    display: flex;
    justify-content: center;
    color:white;

    &__square{
        width: 90%;
        padding-right: 25%;
        padding-bottom: 30px;
    
        &--top {
            
            &--title{
            font-size: 2.3rem;
            }

            &--iconcontainer{
                width: 140px;
                display: flex;
                justify-content: space-between;
            }
        }

        &--contacts--card{

            &--address, &--email {
                font-size: .8rem;
            }
        }

        &--copyright{
            font-size: .8rem;
        }
    }  
}
