@font-face{
    font-family: Avenir;
    src: url(../assets/_globalfont/AvenirNextProLT/Avenir-regular.otf);
}

*{
    font-family: Avenir;
}

html{
    padding: 0;
    margin: 0;
}

body{
    margin: 0;
    padding: 0;
}

.header{
    background-color: #323232;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100%;
    height: 80px;
    padding: 0;
    margin: 0;


    &__logo{
        width: 10rem;
        padding-bottom: 12px;
        padding-top: 12px;
    }

    &__nav{
        display: flex;
        width:100%;
        justify-content: space-around;
        padding: 0;
        margin: 0;

        &__link{
            color: white;
            width: 160px;
            text-decoration: none;
            text-align: center;
            padding: 0;
            margin: 0;

            &--active{
                border-bottom: white solid 3px;
            }
        }
    }
}



.hero{
    width: 100%;
    padding: 0;
    margin: 0;

    &__image{
        width: 100%;
    }
}

.footer{
    background-color:#323232;
    color:white;
}
