* {
  font-family: Avenir-Regular, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  color: #323232;
}

.header {
  background-color: #323232;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 80px;
  padding: 0;
  margin: 0;
}

@media only screen and (min-width: 768px) {
  .header {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}

.header__logo {
  width: 10rem;
  text-align: center;
  padding-top: 1rem;
}

@media only screen and (min-width: 768px) {
  .header__logo {
    display: inline-block;
    padding-top: 0rem;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin-left: 24px;
  }
}

@media only screen and (min-width: 1200px) {
  .header__logo {
    margin-left: 150px;
  }
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0;
  margin: 0;
}

@media only screen and (min-width: 768px) {
  .header__nav {
    display: inline-block;
  }
}

.header__link {
  color: white;
  text-decoration: none;
  width: 50%;
  text-align: center;
  padding-bottom: .7rem;
  margin: 0;
  font-family: Avenir-Light;
}

@media only screen and (min-width: 768px) {
  .header__link {
    width: 85px;
    height: 43px;
    padding-bottom: 0;
    display: inline-block;
    margin-left: 45px;
  }
}

@media only screen and (min-width: 1200px) {
  .header__link {
    margin-left: 56px;
  }
}

.header__link--active {
  border-bottom: white solid 4px;
}

@media only screen and (min-width: 1200px) {
  .header__link--active {
    border-bottom: white solid 5px;
  }
}

@-webkit-keyframes flash {
  0% {
    color: #FAFAFA;
  }
  20% {
    color: #c642fa;
  }
  40% {
    color: rgba(245, 115, 40, 0.788);
  }
  60% {
    color: #f8b809;
  }
  80% {
    color: #bca5fc;
  }
  100% {
    color: #FAFAFA;
  }
}

@keyframes flash {
  0% {
    color: #FAFAFA;
  }
  20% {
    color: #c642fa;
  }
  40% {
    color: rgba(245, 115, 40, 0.788);
  }
  60% {
    color: #f8b809;
  }
  80% {
    color: #bca5fc;
  }
  100% {
    color: #FAFAFA;
  }
}

@-webkit-keyframes flash_border {
  0% {
    border-color: #FAFAFA;
  }
  20% {
    border-color: #c642fa;
  }
  40% {
    border-color: rgba(245, 115, 40, 0.788);
  }
  60% {
    border-color: #f8b809;
  }
  80% {
    border-color: #bca5fc;
  }
  100% {
    border-color: #FAFAFA;
  }
}

@keyframes flash_border {
  0% {
    border-color: #FAFAFA;
  }
  20% {
    border-color: #c642fa;
  }
  40% {
    border-color: rgba(245, 115, 40, 0.788);
  }
  60% {
    border-color: #f8b809;
  }
  80% {
    border-color: #bca5fc;
  }
  100% {
    border-color: #FAFAFA;
  }
}

.header__link:hover {
  -webkit-animation: flash 4s linear infinite, flash_border 4s linear infinite;
          animation: flash 4s linear infinite, flash_border 4s linear infinite;
}

.hero {
  width: 100%;
  height: 472px;
  margin: 0;
  position: relative;
  background: url("../assets/images/shows_hero.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media only screen and (min-width: 768px) {
  .hero {
    height: 670px;
  }
}

@media only screen and (min-width: 1200px) {
  .hero {
    height: 590px;
  }
}

.hero__overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 1;
  background-color: black;
  opacity: 0.5;
}

.hero__subtitle {
  position: absolute;
  top: 64px;
  left: 16px;
  margin: 0;
  padding: 0;
  color: white;
  font-weight: normal;
  -webkit-transform: scale(1, 0.95);
          transform: scale(1, 0.95);
  font-size: 15px;
  z-index: 2;
}

@media only screen and (min-width: 768px) {
  .hero__subtitle {
    left: 24px;
    top: 96px;
    font-size: 23px;
    font-weight: bold;
  }
}

@media only screen and (min-width: 1200px) {
  .hero__subtitle {
    top: 133px;
    left: 150px;
  }
}

.hero__title {
  width: 300px;
  margin: 0;
  position: absolute;
  top: 19%;
  z-index: 1;
  left: 16px;
  color: white;
  font-size: 2.22rem;
  font-weight: bold;
  line-height: 3.2rem;
  -webkit-transform: scale(1, 0.95);
          transform: scale(1, 0.95);
}

@media only screen and (min-width: 768px) {
  .hero__title {
    width: 70%;
    font-size: 3.5rem;
    top: 150px;
    left: 24px;
    line-height: 5rem;
  }
}

@media only screen and (min-width: 1200px) {
  .hero__title {
    top: 30%;
    left: 150px;
    width: 38%;
    font-size: 3rem;
  }
}

.hero__music {
  position: absolute;
  z-index: 1;
  top: 70%;
  left: 16px;
}

@media only screen and (min-width: 768px) {
  .hero__music {
    top: 64%;
    left: 24px;
    width: 410px;
    height: 140px;
  }
}

@media only screen and (min-width: 1200px) {
  .hero__music {
    height: 122px;
    width: 363px;
    top: 45.5%;
    left: 688px;
  }
}

.shows {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media only screen and (min-width: 1200px) {
  .shows {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.shows__title {
  justify-self: flex-start;
  margin-top: 32px;
  margin-left: 16px;
  margin-bottom: 12px;
  font-size: 26px;
  -webkit-transform: scale(1, 0.95);
          transform: scale(1, 0.95);
}

@media only screen and (min-width: 768px) {
  .shows__title {
    margin-left: 24px;
    margin-bottom: 0;
  }
}

@media only screen and (min-width: 1200px) {
  .shows__title {
    margin-left: 150px;
  }
}

.shows__eventscontainer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media only screen and (min-width: 768px) {
  .shows__eventscontainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media only screen and (min-width: 1200px) {
  .shows__eventscontainer {
    width: 740px;
    margin-right: 126px;
  }
}

.shows__event {
  width: 90%;
  height: 20rem;
  margin-left: 16px;
  margin-right: 16px;
  background-color: white;
  border-bottom: 1.5px solid #E1E1E1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

@media only screen and (min-width: 768px) {
  .shows__event {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 90px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 93%;
  }
}

.shows__event--titles {
  border-bottom: none;
  height: 50px !important;
  -webkit-box-orient: horizontal !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: row !important;
          flex-direction: row !important;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: none;
  -webkit-box-align: end !important;
      -ms-flex-align: end !important;
          align-items: flex-end !important;
}

@media only screen and (min-width: 768px) {
  .shows__event--titles {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.shows__description {
  color: #AFAFAF;
  font-weight: normal;
  font-size: 14px;
  margin-top: 24px;
  margin-bottom: 16px;
}

@media only screen and (min-width: 768px) {
  .shows__description--date {
    margin-right: 50px !important;
  }
}

.shows__description--tablet {
  color: #AFAFAF;
  font-weight: normal;
  margin: 0 !important;
  font-size: 14px;
  width: 150px;
}

@media only screen and (min-width: 768px) {
  .shows__description {
    display: none;
  }
}

.shows__description--detail {
  font-weight: lighter;
  font-size: 14px;
  margin: 0;
}

@media only screen and (min-width: 768px) {
  .shows__description--detail {
    width: 150px;
  }
}

.shows__description--detail--date {
  font-size: 16px;
  font-weight: normal;
}

@media only screen and (min-width: 768px) {
  .shows__description--detail--date {
    margin-right: 50px;
  }
}

.shows__button {
  font-size: 14px;
  color: white;
  font-weight: lighter;
  background-color: #323232;
  width: 100%;
  height: 50px;
  margin-top: 32px;
  margin-bottom: 16px;
  border: #323232 solid 1px;
  border-radius: 6px;
}

.shows__button--tablet {
  visibility: hidden;
  margin: 0;
}

@media only screen and (min-width: 768px) {
  .shows__button {
    width: 170px;
    height: 50px;
    border-radius: 4px;
    margin-top: 16px;
    margin-bottom: 16px;
  }
}

.footer {
  background-color: #323232;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  padding-left: 15px;
  margin-top: 40px;
}

@media only screen and (min-width: 768px) {
  .footer {
    padding-left: 24px;
    padding-right: 24px;
  }
}

.footer__square {
  width: 90%;
  padding-right: 25%;
  padding-bottom: 30px;
  padding-top: 13px;
}

@media only screen and (min-width: 768px) {
  .footer__square {
    padding-right: 0;
    width: 100%;
  }
}

@media only screen and (min-width: 1200px) {
  .footer__square {
    width: 78.5%;
  }
}

@media screen and (max-width: 767px) {
  .footer__square--top {
    margin-bottom: 35px;
  }
}

@media only screen and (min-width: 768px) {
  .footer__square--top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.footer__square--top--logo {
  display: none;
}

@media only screen and (min-width: 768px) {
  .footer__square--top--logo {
    display: initial;
  }
}

@media only screen and (min-width: 1200px) {
  .footer__square--top--logo {
    width: 120px;
  }
}

.footer__square--top--title {
  font-size: 2.3rem;
}

@media only screen and (min-width: 1200px) {
  .footer__square--top--title {
    font-size: 2rem;
  }
}

.footer__square--top--iconcontainer {
  width: 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 10px;
}

@media only screen and (min-width: 768px) {
  .footer__square--top--iconcontainer {
    margin-left: 0;
    margin-right: 20%;
  }
}

@media only screen and (min-width: 1200px) {
  .footer__square--top--iconcontainer {
    width: 110px;
    margin-right: 45%;
  }
}

@media only screen and (min-width: 768px) {
  .footer__square--contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media only screen and (min-width: 1200px) {
  .footer__square--contacts {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-right: 32%;
  }
}

.footer__square--contacts--card--name {
  font-weight: bold;
}

@media only screen and (min-width: 1200px) {
  .footer__square--contacts--card--name {
    font-size: .8rem;
  }
}

.footer__square--contacts--card--address, .footer__square--contacts--card--email {
  font-size: .8rem;
  font-weight: lighter;
}

.footer__square--copyright {
  width: 90%;
  font-size: .8rem;
  font-weight: lighter;
  margin-left: 0;
}

.deepdive {
  color: white;
  text-decoration: none;
}
/*# sourceMappingURL=shows.css.map */