@font-face{
    font-family: "Avenir-Regular";
    src: url("../assets/_globalfont/Regular.ttf");
}

@font-face{
    font-family: "Avenir-Bold";
    src: url("../assets/_globalfont/Bold.ttf");
}

@font-face{
    font-family: "Avenir-Light";
    src: url("../assets/_globalfont/Light.ttf");
}

@font-face{
    font-family: "Avenir-Heavy";
    src: url("../assets/_globalfont/Heavy.ttf");
}
