@import 'fonts';
@import 'mixins';
@import 'variables';

*{
    font-family: Avenir-Regular, sans-serif;
}

body{
    margin: 0;
    padding: 0;
    height: 100%;
    color: $black;
}

.header{
    background-color: $black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width:100%;
    height: 80px;
    padding: 0;
    margin: 0;

    @include tablet{
        flex-direction: row;
        align-items: flex-end;
    }

    &__logo{
        width: 10rem;
        text-align: center;
        padding-top: 1rem;

        @include tablet{
            display:inline-block;
            padding-top: 0rem;
            align-self: center;
            margin-left: 24px;
        }

        @include desktop{
            margin-left:150px;
        }
    }

    &__nav{
        display: flex;
        width:100%;
        justify-content: space-around;
        padding: 0;
        margin: 0;

        @include tablet{
            display:inline-block;
        }
    }

    &__link{
        color: white;
        width: 50%;
        text-decoration: none;
        text-align: center;
        padding-bottom: .7rem;
        margin: 0;
        font-family: Avenir-Light;

        @include tablet{
            width: 85px;
            height: 43px;
            padding-bottom: 0;
            display:inline-block;
            margin-left: 45px
        }

        @include desktop{
            margin-left: 56px;
        }

        &--active{
            border-bottom: white solid 4px;

            @include desktop{
                border-bottom: white solid 5px;
            }
        }
            
        //deep-dive nav hover
        @keyframes flash {
            0% {color: $alabaster;}
            20% {color: rgb(3, 178, 231);}
            40% {color: rgba(181, 155, 192, 0.788);}
            60% {color: rgb(242, 255, 67);}
            80% {color: rgb(250, 128, 14);}
            100%{color:$alabaster;}
        }

        @keyframes flash_border {
            0% {border-color: $alabaster;}
            20% {border-color: rgb(3, 178, 231);}
            40% {border-color: rgba(181, 155, 192, 0.788);}
            60% {border-color: rgb(242, 255, 67);}
            80% {border-color: rgb(250, 128, 14);}
            100%{border-color:$alabaster;}
        }

        &:hover {
            animation: flash 4s linear infinite, flash_border 4s linear infinite;
        }
    }
}

.hero{
    width: 100%;
    height: 183px;
    margin: 0;
    position: relative;
    background: url("../assets/images/hero.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    @include tablet{
        height: 400px;
    }

    @include desktop{
        height: 558px;
    }

    &__overlay{
        width:100%;
        height: 100%;
        position: absolute;
        top: 0;
        z-index:1;
        background-color: rgb(0,0,0);
        opacity: 0.5;
    }

    &__members{
        margin:0;
        position: absolute;
        top: 30%;
        z-index: 1;
        left:16px;
        color: white;
        transform: scale(1,.95);
        font-weight: bold;

        @include tablet{
            width: 70%;
            font-size: 3.5rem;
            left: 24px;
        }

        @include desktop{
            top: 30%;
            left: 150px;
        }
    }
}

.about{
    display: flex;
    flex-direction: column;
    align-items: center;

    &__square{
        width:92%;
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;

        @include tablet{
            width: 94%;
        }

        @include desktop{
            width: 747px;
        }
    }

    &__title{
        margin-top:1rem;
        transform: scale(1,.95);
        font-family: "Avenir-Bold";

        @include tablet{
            font-size: 2rem;
            margin-top: 20px;
            margin-bottom: 20px;
        }

        @include desktop{
            margin-left: -76px;
            margin-top: 35px;
            margin-bottom: 35px;
        }
    }

    &__image{
        width: 100%;
        height: 10rem;
        object-fit: cover;

        @include tablet{
            height: 362px;
        }

        @include desktop{
            height: 375px;
        }
    }

    &__quote{
        font-size: .9rem;
        width: 95%;
        transform: scale(1,.95);
    }

    &__blurb{

        @include tablet{
            font-family: 'Avenir-Bold';
            font-size: 1.3rem;
        }

        @include desktop{
            margin-top: 40px;
            margin-bottom: 32px;
        }
    }

    &__names{
        font-size: 1rem;
        font-family: "Avenir-Bold";
        transform: scale(1,.95);

        @include tablet{
            font-size: 1.5rem;
            margin-bottom: 10px;
        }

        @include desktop{
            font-size: 1.25rem;
        }
    }

    &__textcontainer{
    
        @include tablet{
            display: flex;
        }

        @include desktop{
            justify-content: space-between;
        }
    }

    &__text{
        font-size: .8rem;
        line-height: 1.5;
        font-weight: lighter;

        @include tablet{
            width: 340px;
            font-size: .9rem;
        }

        @include desktop{
            width: 400px;
            font-size: .8rem;
        }

        &--paragraph2{
            @include tablet{
                margin-left: 28px;
            }
        }
    }
}

.gallery{
    background-color: $alabaster;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 30px;

    &__title{
        align-self: flex-start;
        margin-left: 1rem;
        font-family: "Avenir-Bold";
        transform: scale(1,.95);

        @include tablet{
            font-size: 2.3rem;
            margin-left: 1.5rem;
        }

        @include desktop{
            margin-left: 9.2rem;
        }
    }

    &__imageContainer{
        width: 90%;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        align-self: center;

        @include tablet{
            width: 100%;
        }

        @include desktop{
            width: 75%;
            justify-content: space-between;
        }
    }

    &__image{
        width:288px;
        padding-bottom: 16px;

        &:hover{
            filter: none;
        }

        @include tablet{
            width: 224px;
            padding-bottom: 24px;
        }

        @include desktop{
            width: 286px;
            //placed this in a media query since you can't really hover on touchscreen devices
            //don't want the pictures to be stuck in B&W on those devices
            filter: grayscale(100%);
        }
    }
}

.comments{
    width: 100%;
    padding: 0 16px 0 16px;
    margin: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include tablet{
        align-items: center;
    }

    &__inputs{
        width: 77.5%;
        margin-left: 65px;

        @include tablet{
            width: 360px;
        }

        @include desktop{
            width: 415px;
            margin-left: 95px;
        }
    }

    &__form{
        display: flex;
        flex-direction: column;
        width: 100%;
        position: relative;
    }

    &__title{
        align-self: flex-start;
        font-family: "Avenir-Bold";

        @include tablet{
            font-size: 2.2rem;
        }

        @include desktop{
            margin-left: 134px;
        }
    }

    &__picture{
        height: 45px;
        width: 45px;
        border-radius: 100%;
        position: absolute;
        left: -65px;
        top: 36px;
    }

    &__username{
        border: 1px solid grey;
        border-radius: 4px;
        height: 40px;
        margin-bottom: 7px;
        font-size: .9rem;

        &:active, &:focus{
            border: 2px solid black;
        }
    }

    &__text{
        border: 1px solid grey;
        border-radius: 4px;
        height: 100px;
        font-size: .9rem;

        &:active, &:focus{
            border: 2px solid black;
        }
    }

    &__label{
        color: $silver;
        font-weight: normal;
        font-size: 14px;
        text-transform: uppercase;
        margin-bottom: 7px;
    }

    &__button{
        font-size: 14px;
        font-weight: normal;
        text-transform: uppercase;
        color: white;
        background-color: #323232;
        width: 100%;
        height: 50px;
        margin-top: 32px;
        margin-bottom: 32px;
        border: 1px solid $black  ;
        border-radius: 6px;

        @include tablet{
            width: 180px;
            align-self: flex-end;
        }
    }

    &__outputs{
        box-sizing: border-box;
        width: 100%;

        @include tablet{
            width: 420px;
        }

        @include desktop{
            width: 480px;
            margin-left: 32px;
        }
    }

    &__card{
        width: 100%;
        border-top: 1.5px solid $mercury;
        position: relative;
        padding: 25px 0 0 63px;
        box-sizing: border-box;
    }

    &__outpicture{
        height: 40px;
        width: 40px;
        border-radius: 100%;
        position: absolute;
        top: 24px;
        left: -1px;
        background-color: grey;
    }

    &__namedate{
        display:flex;
        justify-content: space-between;

        @include tablet{
            justify-content: flex-start;
        }
    }

    &__outusername{
        margin: 0;
    }

    &__outdate{
        font-weight: lighter;
        color: $silver;
        margin: 0;

        @include tablet{
            margin-left: 5px;
        }
    }

    &__outtext{
        font-weight: lighter;
        margin-bottom: 0;
    }

    &__bottom{
        height: 30px;
        width: 100%;
        margin-top: 20px;
        display: flex;
        justify-content: center;
        position: relative;
    }

    &__like, &__delete{
        height: 30px;
        width: 50%;
        color: $silver;
        background-color: $alabaster;
        border: 0;
        font-family: "Avenir-Light";
        text-decoration: none;
    }

    &__delete{
        border-left: solid $mercury 1px;
        &:hover{
            color: #c20000;
            font-family: "Avenir-Regular";
        }
    }

    &__like:hover{
        color: $black;
    }

    &__display{
        width: 25px;
        height: 30px;
        background-color: $mercury;
        position: absolute;
        left: -55px;
        top: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    &__icon{
        height: 20px;
        width: 20px;
        position: absolute;
        top:-9px;
        left: -9px;
    }

    &__count{
        font-size: .8rem;
        color: $black;
    }
}

.footer{
    background-color:$black;
    display: flex;
    justify-content: center;
    color:white;
    padding-left: 15px;
    margin-top: 30px;

    @include tablet{
        padding-left: 24px;
        padding-right: 24px;
    }

    &__square{
        width: 90%;
        padding-right: 25%;
        padding-bottom: 30px;
        padding-top: 13px;

        @include tablet{
            padding-right: 0;
            width:100%;
        }

        @include desktop{
            width: 78.5%;
        }
    }

    &__top {
        @media screen and (max-width: 767px){
            margin-bottom: 35px;

        }

        @include tablet{
            display: flex;
            justify-content: space-between;
        }
    }

    &__title{
        font-size: 2.3rem;
        font-family: "Avenir-Bold";

        @include desktop{
            font-size: 2rem;
        }
    }

    &__iconcontainer{
        width: 140px;
        display: flex;
        justify-content: space-between;
        margin-left: 10px;

        @include tablet{
            margin-left: 0;
            margin-right: 20%;
        }

        @include desktop{
            width: 110px;
            margin-right: 45%;
        }
    }

    &__logo{
        display: none;

        @include tablet{
            display: initial;
        }

        @include desktop{
            width: 120px;
        }
    }

    &__contacts{ 
            
        @include tablet{
            display:flex;
            justify-content: space-evenly;
        }

        @include desktop{
            justify-content: space-between;
            padding-right: 32%;
        }
    }

    &__address, &__email {
        font-size: .8rem;
        font-weight: lighter;
    }

    &__name{
        font-family: "Avenir-Bold";
        
        @include desktop{
            font-size: .8rem;
        }
    }

    &__mailto{
        color: white;
        text-decoration: none;
    }

    &__copyright{
        width: 90%;
        font-size: .8rem;
        font-weight: lighter;

        @include tablet{
            margin-left: 2.5%;
        }

        @include desktop{
            margin-left: 0;
        }
    }
}




