@import 'fonts';
@import 'mixins';
@import 'variables';

*{
    font-family: Avenir-Regular, sans-serif;
}

body{
    margin: 0;
    padding: 0;
    height: 100%;
    color: $black;
}

.header{
    background-color: $black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width:100%;
    height: 80px;
    padding: 0;
    margin: 0;

    @include tablet{
        flex-direction: row;
        align-items: flex-end;
    }

    &__logo{
        width: 10rem;
        text-align: center;
        padding-top: 1rem;

        @include tablet{
            display:inline-block;
            padding-top: 0rem;
            align-self: center;
            margin-left: 24px;
        }

        @include desktop{
            margin-left:150px;
        }
    }

    &__nav{
        display: flex;
        width:100%;
        justify-content: space-around;
        padding: 0;
        margin: 0;

        @include tablet{
            display:inline-block;
        }
    }

    &__link{
        color: white;
        text-decoration: none;
        width: 50%;
        text-align: center;
        padding-bottom: .7rem;
        margin: 0;
        font-family: Avenir-Light;

        @include tablet{
            width: 85px;
            height: 43px;
            padding-bottom: 0;
            display:inline-block;
            margin-left: 45px;
        }

        @include desktop{
            margin-left: 56px;
        }

            &--active{
                border-bottom: white solid 4px;

                @include desktop{
                    border-bottom: white solid 5px;
                }
            }

        //deep-dive nav hover
        @keyframes flash {
            0% {color: $alabaster;}
            20% {color: rgb(198, 66, 250);}
            40% {color: rgba(245, 115, 40, 0.788);}
            60% {color: rgb(248, 184, 9);}
            80% {color: rgb(188, 165, 252);}
            100%{color: $alabaster;}
        }

        @keyframes flash_border {
            0% {border-color: $alabaster;}
            20% {border-color: rgb(198, 66, 250);}
            40% {border-color: rgba(245, 115, 40, 0.788);}
            60% {border-color: rgb(248, 184, 9);}
            80% {border-color: rgb(188, 165, 252);}
            100%{border-color: $alabaster;}
        }

        &:hover {
            animation: flash 4s linear infinite, flash_border 4s linear infinite;
        }
    }
}

.hero{
    width: 100%;
    height: 472px;
    margin: 0;
    position: relative;
    background: url("../assets/images/shows_hero.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    @include tablet{
        height: 670px;
    }

    @include desktop{
        height: 590px;
    }

    &__overlay{
        width:100%;
        height: 100%;
        position: absolute;
        top: 0;
        z-index:1;
        background-color: rgb(0,0,0);
        opacity: 0.5;
    }

    &__subtitle{
        position:absolute;
        top: 64px;
        left: 16px;
        margin: 0;
        padding: 0;
        color: white;
        font-weight: normal;
        transform: scale(1,.95);
        font-size: 15px;
        z-index: 2;

        @include tablet{
            left: 24px;
            top: 96px;
            font-size: 23px;
            font-weight: bold;
        }

        @include desktop{
            top: 133px;
            left: 150px;
        }
    }

    &__title{
        width: 290px;
        margin:0;
        position: absolute;
        top: 19%;
        z-index: 1;
        left:16px;
        color: white;
        font-size: 2.22rem;
        font-family: 'Avenir-Bold';
        line-height: 3.2rem;
        transform: scale(1,.95);

        @include tablet{
            width: 70%;
            font-size: 3.5rem;
            top: 150px;
            left: 24px;
            line-height: 5rem;
        }

        @include desktop{
            top: 30%;
            left: 150px;
            width: 38%;
            font-size: 3rem;
        }
    }

    &__music{
        position: absolute;
        z-index: 1;
        top: 70%;
        left: 16px;

        @include tablet{
            top: 64%;
            left: 24px;
            width: 410px;
            height: 140px;
        }

        @include desktop{
            height: 122px;
            width: 363px;
            top: 45.5%;
            left: 688px;
        }
    }
}

.shows{
    width: 100%;
    display: flex;
    flex-wrap: wrap;

    @include desktop{
        justify-content: space-between;
    }
    
    &__title{
        justify-self: flex-start;
        margin-top: 32px;
        margin-left: 16px;
        margin-bottom: 12px;
        font-size: 26px;
        font-family: 'Avenir-Bold';
        transform: scale(1,.95);

        @include tablet{
            margin-left: 24px;
            margin-bottom: 0;
        }

        @include desktop{
            margin-left: 150px;
        }
    }

    &__eventscontainer{
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        @include tablet{
            flex-direction: column;
            flex-wrap: nowrap;
            align-items: center;
            justify-content: space-between;
        }

        @include desktop{
            width: 740px;
            margin-right: 126px;
        }
    }

    &__event{
        width: 90%;
        height: 20.5rem;
        margin-left: 16px;
        margin-right: 16px;
        background-color: white;
        border-bottom: 1.5px solid $mercury;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        @include tablet{
            flex-direction: row;
            height: 90px;
            justify-content: space-between;
            align-items: center;
            width: 93%;
        }

        &--titles{
            border-bottom: none;
            height: 50px !important;
            width: 93%;
            flex-direction: row !important;
            justify-content: space-between;
            display: none;
            align-items: flex-end !important;

            @include tablet{
                display: flex;
            }

            @include desktop{
                margin-top: 10px;
            }
        }
    }

    &__description{
        color: $silver;
        font-weight: normal;
        font-size: 14px;
        margin-top: 24px;
        margin-bottom: 16px;

        &--date{
            @include tablet{
                margin-right: 50px !important;
            }
        }

        &--tablet{
            color: $silver;
            font-weight: normal;
            margin: 0 !important;
            font-size: 12px;
            width: 150px;
        }

        @include tablet{
            display: none;
        }

        &--detail{
            font-family: "Avenir-Light";
            font-size: 14px;
            margin: 0;

            @include tablet{
                width: 150px;
            }

            &--date{
                font-size: 15px;
                font-family: "Avenir-Regular";
            }
        }
    }

    &__hidden{
        width: 170px;
    }

    &__button{
        font-size: 14px;
        color: white;
        font-weight: lighter;
        background-color: $black;
        width: 100%;
        height: 60px;
        margin-top: 32px;
        margin-bottom: 16px;
        border: $black solid 1px;
        border-radius: 6px;

        &--tablet{
            visibility: hidden;
            margin: 0;
        }

        @include tablet{
            width: 170px;
            height: 50px;
            border-radius: 4px;
            margin-top: 16px;
            margin-bottom: 16px;
        }
    }
}

.footer{
    background-color:$black;
    display: flex;
    justify-content: center;
    color:white;
    padding-left: 15px;

    @include tablet{
        padding-left: 24px;
        padding-right: 24px;
    }

    &__square{
        width: 90%;
        padding-right: 25%;
        padding-bottom: 30px;
        padding-top: 13px;

        @include tablet{
            padding-right: 0;
            width:100%;
        }

        @include desktop{
            width: 78.5%;
        }
    }

    &__top {
        @media screen and (max-width: 767px){
            margin-bottom: 35px;

        }

        @include tablet{
            display: flex;
            justify-content: space-between;
        }
    }

    &__title{
        font-size: 2.3rem;
        font-family: "Avenir-Bold";

        @include desktop{
            font-size: 2rem;
        }
    }

    &__iconcontainer{
        width: 140px;
        display: flex;
        justify-content: space-between;
        margin-left: 10px;

        @include tablet{
            margin-left: 0;
            margin-right: 20%;
        }

        @include desktop{
            width: 110px;
            margin-right: 45%;
        }
    }

    &__logo{
        display: none;

        @include tablet{
            display: initial;
        }

        @include desktop{
            width: 120px;
        }
    }

    &__contacts{ 
            
        @include tablet{
            display:flex;
            justify-content: space-evenly;
        }

        @include desktop{
            justify-content: space-between;
            padding-right: 32%;
        }
    }

    &__address, &__email {
        font-size: .8rem;
        font-weight: lighter;
    }

    &__name{
        font-family: "Avenir-Bold";
        
        @include desktop{
            font-size: .8rem;
        }
    }

    &__mailto{
        color: white;
        text-decoration: none;
    }

    &__copyright{
        width: 90%;
        font-size: .8rem;
        font-weight: lighter;

        @include tablet{
            margin-left: 2.5%;
        }

        @include desktop{
            margin-left: 0;
        }
    }
}